body {
	background-color: #77777f;
}

h1 {
	color: #eee;
	text-align: center;
	font-size: 40px;
	margin-top: 0px;
	margin-bottom: 0px;
}

pre {
	margin-left:auto;
	margin-right:auto;
	width: 90%;
	margin-top:0px;
	margin-bottom:0px;
	padding-top:0px;
	padding-bottom:0px;
}

code {
	font-size: 17px;
}

a {
	color: #ccc;
	text-decoration: none;
}

.center {
	text-align: center;
}
